html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.selection-form{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    background: black
    
}



.seed-color, .mode, .get-scheme-btn{
   border: none; 
   padding: 1em;
   margin: 0.5em;
   border-radius: 5px;
   cursor: pointer;
}

.clipboard-confirmation{
    padding: 1em;
    text-align: center;
    
}

.scheme-display{
    display: flex;
    justify-content: space-between;
    height: 50%;
    padding: 1em;
    
}

.swatch{
    padding: 1em;
    width: 15%;
}

.hex-display{
    display: flex;
    justify-content: space-around;
    padding: 1em;
    
}

.hex-value{
    text-align: center;
    
}


@media only screen and (max-width: 600px) {
    .swatch{
        width: 10%;
        font-size: 0.5em;

        
}
.hex-display{
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    
}


}


@media only screen and (max-width: 600px) {
    .selection-form{
        flex-direction: column;
   
}
    
}